@use '../../styles/variables' as v;
@use '../../styles/reset';
@use '../../styles/mixins' as m;

.user_radar_graph {
  grid-area: user_radar_graph;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$color-bgnav;
  border-radius: 10px;

  .recharts-polar-angle-axis-tick-value tspan {
    font-weight: bold;
    font-size: 0.9rem;
  }
}
